// colors
$base-dark: #1B3B47;
$base-light: #E3F0F5;
$options: #67ADC6;

// sizes font
$font_size--big: 2.4rem;
$font_size--normal: 1.8rem;

// margin and padding sizes
$medium--size: 3rem;
$small--size: 1.5rem;

// media sizes
$bp-largest: 38em; // 38*16 = 608px
$bp-small: 28em; // 28 * 16 = 448px